$main-green: #A69B7B;

body {
    padding: 50px 0;
}

.form-required {
    color: red;
    font-size: 1.2em;
}

.contact-wrap {
    background-color: #f7f7f7;
    padding: 20px;
}

.contact-head {
    color: #2b5e3f;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 80%;
    height: 150px;
    resize: none;
    margin-top: 10px;
}

.label-p {
    font-weight: 700;
}

.schedule-tour {
    text-align: center;
    margin: 50px auto;
}

.contact-wrap {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    * {
        box-sizing: border-box;
    }
}

.flex-outer, .flex-inner {
    list-style-type: none;
}

.flex-outer {
    max-width: 800px;
    padding: 0;
    margin: auto;
}

.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-inner > li {
    margin: 20px;

    label {
        margin-left: 10px;
        margin-bottom: 0px;
    }
}

.flex-outer > li > label + *, .flex-inner {
    flex: 1 0 220px;
}

.flex-inner {
    justify-content: center;
    padding: 0 8px; 

    .flex-inner li {
        width: 100px;
        margin: 20px;
    }

}

.flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 10px;
  margin-top: 0px;
}

.button-wrap {
    margin: auto;
    text-align: center;
}

.form-error {
    color: red;
}

.confirmation-message {
    font-size: 1.2em;
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(33, 206, 33);
}

iframe {
    width: 100%;
}

.button-wrap {
    margin: auto;
    text-align: center;
  }
  
  .button-wrap input {
    border-radius: 20px;
    padding: 10px;
    letter-spacing: 1px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
    font-family: roboto;
  }
